# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Build artifacts
build/
dist/
*.spec

# IDE / editor
.spyproject/
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Local app data
app/user_config.json
user_config.json
.webdav_cache/
ColorManager.zip

# Logs
*.log
